[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
biolinkml = {editable = true, ref = "issue-319-mixins-in-domain-and-range", git = "https://github.com/STARInformatics/biolinkml.git"}

[dev-packages]

[requires]
python_version = "3.7"
